---
import Footer from "@/components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import FamilyGathering from "@/components/FamilyGathering.astro";
---

<Layout title="Frontend Mentor | Dine Website Challenge">
  <main>
    <FamilyGathering />
  </main>
  <!-- THE FOOTER -->
  <Footer />
</Layout>

<style></style>
