---
import "@/styles/globals.css";
---

<section
  class="xl:text-ledt relative flex flex-col items-center gap-[5.31rem] bg-codGray-clr px-6 pb-[6.37rem] pt-[7.19rem] text-center md:gap-[3.37rem] md:pb-24 md:pl-[6.06rem] md:pr-[6.12rem] md:pt-[8.88rem] xl:flex-row xl:items-start xl:gap-[7.81rem] xl:px-[10.31rem] xl:pb-[7.5rem] xl:pt-[16.37remrem]"
>
  <img
    src="/images/patterns/pattern-divide.svg"
    alt=""
    class="absolute top-[4.5rem] px-[9.05rem] md:top-24 md:pl-[21.75rem] md:pr-[21.81rem] xl:top-[12.5rem] xl:pl-[10.31rem]"
  />
  <div
    class="flex w-[20.4375rem] flex-col items-center gap-[0.81rem] md:max-2xl:w-[27.8125rem] md:max-2xl:gap-[1.69rem] xl:items-start xl:text-left"
  >
    <h2
      class="md;leading-[3rem] text-[2rem] font-bold leading-10 tracking-[-0.025rem] text-white md:max-2xl:text-5xl md:max-2xl:tracking-[-0.03125rem]"
    >
      A few highlights from our menu
    </h2>
    <p
      class="text-base font-normal leading-relaxed text-white md:leading-[1.875rem] md:max-2xl:text-xl xl:leading-[1.875rem]"
    >
      We cater for all dietary requirements, but here&#39;s a glimpse at some of
      our diner&#39;s favourites. Our menu is revamped every season.
    </p>
  </div>
  <div class="">
    <!-- Seared Salmon Fillet -->
    <div
      class="relative mb-[5rem] flex flex-col items-center gap-[2.23rem] text-center after:absolute after:-bottom-[3.37rem] after:h-[0.0625rem] after:w-[20.4375rem] after:bg-white after:opacity-[0.1494] md:gap-[3.88rem] md:after:w-[35.8125rem] md:max-2xl:flex-row md:max-2xl:items-start md:max-2xl:text-left md:max-2xl:after:-bottom-[2rem] xl:after:w-[33.75rem]"
    >
      <!-- IMAGE -->
      <picture>
        <source
          media="(min-width:768px )"
          srcset="/images/homepage/salmon-desktop-tablet.jpg"
        />
        <img src="/images/homepage/salmon-mobile.jpg" alt="salmon" class="" />
      </picture>
      <!-- TEXT -->
      <div class="flex flex-col gap-[0.38rem]">
        <h3
          class="text-xl font-bold leading-6 tracking-[-0.01563rem] text-white"
        >
          Seared Salmon Fillet
        </h3>
        <p class="text-base font-normal leading-relaxed text-white">
          Our locally sourced salmon served with a refreshing buckwheat summer
          salad.
        </p>
      </div>
    </div>
    <!-- Rosemary Filet Mignon -->
    <div
      class="relative mb-[3.31rem] flex flex-col items-center gap-[2.23rem] text-center after:absolute after:-bottom-[1.75rem] after:h-[0.0625rem] after:w-[20.4375rem] after:bg-white after:opacity-[0.1494] md:gap-[3.88rem] md:after:w-[35.8125rem] md:max-2xl:flex-row md:max-2xl:items-start md:max-2xl:text-left md:max-2xl:after:-bottom-[2rem] xl:after:w-[33.75rem]"
    >
      <!-- IMAGE -->
      <picture>
        <source
          media="(min-width:768px )"
          srcset="/images/homepage/beef-desktop-tablet.jpg"
        />
        <img src="/images/homepage/beef-mobile.jpg" alt="salmon" class="" />
      </picture>
      <!-- TEXT -->
      <div class="flex flex-col gap-[0.38rem]">
        <h3
          class="text-xl font-bold leading-6 tracking-[-0.01563rem] text-white"
        >
          Rosemary Filet Mignon
        </h3>
        <p class="text-base font-normal leading-relaxed text-white">
          Our prime beef served to your taste with a delicious choice of
          seasonal sides.
        </p>
      </div>
    </div>
    <!-- Summer Fruit Chocolate Mousse -->
    <div
      class="flex flex-col items-center gap-[2.23rem] text-center md:gap-[3.88rem] md:max-2xl:flex-row md:max-2xl:items-start md:max-2xl:text-left"
    >
      <!-- IMAGE -->
      <picture>
        <source
          media="(min-width:768px )"
          srcset="/images/homepage/chocolate-desktop-tablet.jpg"
        />
        <img
          src="/images/homepage/chocolate-mobile.jpg"
          alt="salmon"
          class=""
        />
      </picture>
      <!-- TEXT -->
      <div class="flex flex-col gap-[0.38rem]">
        <h3
          class="text-xl font-bold leading-6 tracking-[-0.01563rem] text-white"
        >
          Summer Fruit Chocolate Mousse
        </h3>
        <p class="text-base font-normal leading-relaxed text-white">
          Creamy mousse combined with summer fruits and dark chocolate shavings.
        </p>
      </div>
    </div>
  </div>
</section>
